#web-app{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

header, footer{
    height: 10%;
    width: 100%;
    background-color: rgb(27, 27, 27);
}

main{
    width: 100%;
    height: 80%;
    background-color: rgb(74, 74, 74);
}

.container{
    height: 100%;
}

.card{
    width: 30%;
    background-color: rgb(5, 30, 59);
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
    transition: all 0.5s linear;
    box-shadow: 0 0 20px rgba(188, 7, 170, 0.612);
}

.text-bold{
    font-weight: bold;
}

#div-img{
    width: 100%;
}

#div-img img{
    width: 60%;
    display: block;
    margin: 0 auto;
}

.overlay{
    position: fixed;
    z-index: 3;
    inset: 15px;
    background-color: rgba(5, 30, 59, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: -1;
}

.btn{
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-weight: bold;
}

.btn:hover{
    color: red;
}

.active{
    opacity: 1;
    z-index: 3;
}